{% load static %}
<footer class = "footer">
    <div class = "footerContainer">
        <div class="footerConBox">
            <div class = "subText maker tGrey">
                <span>HIHU 3.0 made by PDY & LYR</span>
            </div>
            <div class = "subText contact tGrey">
                <span class = "footerE">Contact</span>
                <a href = "http://pf.kakao.com/_zxaiUxj" class = "footerE tGrey">Kakao</a>
                <a href="mailto:eodud6410@gmail.com" class = "tGrey">E-mail</a>
            </div>
            <div class = "etcText copyright tGrey">
                <span>©HIHU. All rights reserved</span>
                <span>COCORI</span>
            </div>
        </div>
        <div class = "footerAd">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4025543581253002"
         crossorigin="anonymous"></script>
    <!-- HIHU 3.0 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:90px"
         data-ad-client="ca-pub-4025543581253002"
         data-ad-slot="3813712144"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
        </div>
    </div>
</footer>
</div>

    <script src = "https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src = "/static/js/subHeader.js"></script>
    <script src = "/static/js/mobileMenu.js"></script>