{% load static %}
{% include 'headerBox.html' %}
{% block head %}
    <title>HIHU3.0</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/resultStyle.css' %}">
{% endblock %}
    <div class = "hero">
        <div class = "hihuNoticeHero">
            <div class = "menuTitle">
                {% if searched %}
                    <h2 class = "tSemi menuTText tBlack">{{ searched }} 의 검색 결과</h2>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="searchBarSection">
                        <div class="selectBox">
                            <select name="search_mode" id="search_mode" class="searchOption mainText">
                                <option value="shop" selected>매장</option>
                                <option value="menu">메뉴</option>
                            </select>
                            <div class = "selectBtn">
                                <img class = "selectBtnImg" src="{% static 'img/select.png' %}" alt="">
                            </div>
                        </div>
                        <input class = "searchBar mainText" type="text" placeholder="검색어 입력" name="searched">
                        <button class="searchBtn" type="submit">
                            <img class = "searchImg" src="{% static 'img/search.png' %}">
                        </button>
                    </div>
                </form>
            </div>
            <div class = "noticeBox">
                <ul class = "noticeListBox">
                    <!--이 부분 고정임-->
                    <li class = "noticeListM">
                        <div class = "listNum">
                            <span class = "tBlack mainText">매장명</span>
                        </div>
                        <div class = "listTitle">
                            <span class = "tBlack mainText">메뉴이름</span>
                        </div>
                        <div class = "listDate">
                            <span class = "tBlack mainText">가격</span>
                        </div>
                    </li>
                    <!--여기서부터 리스트 추가 최대 한페이지 당 8개-->
                    <div class = "menuListCon">
                        {% for m in menus %}
                            <a href = "{{ m.shop.get_absolute_url }}" class = "noticeList">
                                <div class = "listNum">
                                    <span class = "tBlack mainText">{{ m.shop }}</span>
                                </div>
                                <div class = "listTitle">
                                    <span class = "tBlack mainText">{{ m.name }}</span>
                                </div>
                                <div class = "listDate">
                                    <span class = "tBlack mainText">{{ m.price }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% include 'footerBox.html' %}
</body>
</html>